*{
	margin:0 auto;
}

#contenedor{
	width: 90%; /** 90% d la pantalla **/
	border:2px solid black;
	height: 500px;
}

header{
	height: 15%; /** de los 500px anteriores **/
	width: 96%; /** 90% d la pantalla **/
	border: 1px solid blue;
}

nav{
	height: 12%; /** del contenedor **/
	border: 1px solid red;
	
}

section{
	height: 59%; /** del contenedor paqra que sea igual la altura del menu **/
	width: 79%; /** no es 80 que falta del 20 por los borde se le pone uno menos **/
	border: 1px solid brown;
	float: left;
}

aside{
	height: 59%; /** del contenedor paqra que sea igual la altura del menu **/
	width: 20%; /** no es 80 que falta del 20 por los borde se le pone uno menos **/
	border: 1px solid brown;
	float: right;
}

footer{
	height: 12%; /** porque 59 + 20 + 20 es 99 y uno para los bordes **/
	border: 1px solid yellow;
	clear: both; /** se usa si hay mas de un elemento en la fila **/
}