/* Menu */
#menu-wrapper {
	width: 940px;
	height: 25px;
	margin: 0px auto;
	padding: 0px 20px 0px 20px;
}

#menu-wrapper ul{
	margin: 0;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}
#menu-wrapper a:hover {
	text-decoration: none;
	color: rgb(0, 0, 0);
}

#menu-wrapper .current_page_item a {
	color: rgb(0, 0, 0);
}

#menu-wrapper a {
	height: 25px;
	margin: 0px;
	padding: 0px 30px 0px 30px;
	line-height: 18px;
	letter-spacing: 1px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: rgb(104, 4, 4);
	border: none;
}

#menu {
	background: url(../imagenes/img03.gif) no-repeat center top;
	height: 25px;
}

#menu ul{
	list-style:none;
	padding:0;
}
.hmenu{
	width:940;
	margin:0 auto;
}

.hmenu > li{
	display:inline-block;

}
.hmenu >li > a{
	display:block;
	padding: 0px 0px;
}
li ul{
	position:absolute;
	display:none;
}

.sub-menu a{
	display:block;
	padding:0px 0px;
	

}

li:hover ul{
	display:block;
	background-color:#d7dbe0;/**/
}
.hmenu a{
	color:rgb(80, 0, 0);
	text-decoration:none;
	font-weight:blod;
}
.hmenu li:hover{

	text-shadow:0 0 0px rgb(115, 185, 69);	
}